* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #f5f5f5;
}
/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: white;
    border-bottom: solid black 1px;
    gap: 10px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.search {
    width: 40%;
    padding: 8px;
    border-radius: 20px;
}
.nav-links a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
}
.signup {
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #953ed5;
}
/* Menu Bar */
.menubar {
    display: flex;
    gap: 10px;
    padding: 20px;
    border-bottom: solid #953ed5 1px;
    justify-content: space-around;
}
.menubar a{
    background-color: #953ed5;
    color: white;
    padding: 10px;
    border-radius: 30px;
    margin-left: 15px;
    text-decoration: none;
}
.sale-image{
    width: 100%;
    text-align: center;
}
/* Courses */
.courses {
    padding: 20px;
}
.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}
.course-card {
    background: white;
    padding: 10px;
}
.course-card img {
    width: 75%;
}
/* Topics */
.topics {
    padding: 20px;
}
.topics input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}
.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics__container p{
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
/* Popular Courses */
.popular-courses{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    width: 50%;
    background: white;
    padding: 10px;
}
/* Footer */
.footer {
    background-color: black;
    color: white;
    padding: 20px;
}
.footer-links {
    display: flex;
    gap: 10px;
}
.footer-links a{
    margin: 20px;
    color: white;
    margin-left: 15px;
    text-decoration: none;
}
.footer-one {
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
/* Responsive */
@media (max-width: 768px) {
    .search {
        display: none;
    }

    .navbar {
        flex-wrap: wrap;
    }
}